version: "3.9"
services:
  redis:
    image: redis:7
    container_name: ec_redis
    restart: always
    ports:
      - "6379:6379"

  mongodb:
    image: mongo:6
    container_name: ec_mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  rabbitmq:
    image: rabbitmq:3-management
    container_name: ec_rabbitmq
    restart: always
    ports:
      - "5672:5672" 
      - "15672:15672" 
    environment:
      RABBITMQ_DEFAULT_USER: rosuser
      RABBITMQ_DEFAULT_PASS: rosuser123

  gateway:
    build: ./api-gateway
    container_name: ec_gateway
    restart: always
    env_file:
      - ./api-gateway/.env
    ports:
      - "3000:3000"
    depends_on:
      - auth
      - product
      - redis
      - mongodb
  auth:
    build: ./auth
    ports:
      - "3001:3001"
    env_file:
      - ./auth/.env
    depends_on:
      - postgres
      - redis
      - rabbitmq

  product:
    build: ./product
    container_name: ec_product
    restart: always
    env_file:
      - ./product/.env
    ports:
      - "3002:3002"
    depends_on:
      - mongodb
      - redis

volumes:
  postgres_data:
  mongo_data:
